<h1 style="text-align: center;"> PHONE BOOK </h1>
<hr>
<div class="container" style="text-align: right;">
        <a class="nav-link" routerLink="insert"> ADD CONTACT </a> 
        <a class="nav-link" routerLink="delete"> REMOVE CONTACT </a> 
        <a class="nav-link" routerLink="find"> FIND CONTACT </a> 
</div>
<hr>
<table class="table table-dark">
    <tr>
        <th> FIRST NAME </th>
        <th> LAST NAME </th>
        <th> PHONE NUMBER </th>
    </tr>
    <tr *ngFor="let d of details">
        <td> {{d.fName}} </td>
        <td> {{d.lName}} </td>
        <td> {{d.phone}} </td>
    </tr> 
</table>
<router-outlet> </router-outlet>
